{% autoescape false %}
{{ Menu.widget({
	'items': Menu.admin()
}) }}
{% endautoescape %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
        
        	<h1>{{ t('product', 'Products') }}</h1>
            
            <div>
            	<a href="{{ path('product/create') }}">
            		<i class="glyphicon glyphicon-plus"></i>
            		{{ t('product', 'Create a product') }}
            	</a>
            </div>

            <ul class="list-group">
				{% for product in products %}
            	<li class="list-group-item">
            		<a href="{{ path('product/edit', {'id': product.id}) }}">
            			<i class="glyphicon glyphicon-pencil"></i>
            			{% if (product['i18n']) %}
            				{{ product.i18n.title }}
            			{% else %}
            				<i>{{ t('common', 'Translation missing!') }}</i>
            			{% endif %}
            		</a>
            	</li>
            	{% endfor %}
            </ul>
            
        </div>
    </div>
</div>
